
@{
    ViewData["Title"] = "Registro"; }




<div Align="center">

    <H3 class="text-primary">Registro</H3>
</div>

<hr />
<br />
<br />

<div class="row" align="center">

    <div class="col-md-6 col-md-offset-2">
        <section>
            <div class="form-group col-md-12">

                <div class="card-header bg-primary">
                    <h5 class="text-white">Institución</h5>
                </div>

                <div align="center">
                    <img src="~/images/Prueba.png" class="img-fluid " alt="Responsive image">
                </div>
                <div class="card-body text-primary">

                    <a class="btn btn-info text-white" asp-area="Identity" asp-route-Validar="Institución" asp-page="/Account/Register">Registrarte</a>

                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>

            <div class="form-group col-md-12">

                <div class="card-header bg-primary">
                    <h5 class="text-white">Personal</h5>
                </div>

                <div align="center">
                    <img src="~/images/Prueba.png" class="img-fluid " alt="Responsive image">
                </div>
                <div class="card-body text-primary">

                    <a class="btn btn-info text-white" asp-area="Identity" asp-route-Validar="Personal" asp-page="/Account/Register">Registrarte</a>

                </div>
            </div>

        </section>
    </div>

</div>



