
@{
    ViewData["Title"] = "Temas";
}

<h1>Temas</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img class="card-img-top" data-src="holder.js/286x180?theme=thumb&bg=55595c&fg=eceeef&text=Cuencas" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Yaque del Norte</h5>
                <p class="card-text">
                    Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img class="card-img-top" data-src="holder.js/286x180?theme=thumb&bg=55595c&fg=eceeef&text=Cuencas" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Yaque del Sur</h5>
                <p class="card-text">
                    Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
                </p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm" style="width: 18rem;">
            <img class="card-img-top" data-src="holder.js/286x180?theme=thumb&bg=55595c&fg=eceeef&text=Cuencas" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Camú</h5>
                <p class="card-text">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, metus vel.
                </p>
                <a href="#" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/holder/holder.min.js"></script>

}
